@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.main__element {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  margin-bottom: 2.4rem;
}
.main__word {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
.word__withphonetics {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.word__withphonetics h1 {
  font-size: 4rem;
  color: var(--light-font);
}
.word__withphonetics p {
  font-size: 1.5rem;
  color: var(--light-purple);
}
.audio__player,
.share__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
}
.share__btn {
  padding: 5px;
  transition: 6ms all;
}
.share__btn:hover {
  background-color: var(--light-input);
}
.audio__player {
  transition: 1.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
img[alt="Audio-Player"] {
  float: right;
}
.audio__player:active {
  transform: scale(1.8);
}
.word__type {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.2rem;
  font-style: italic;
  color: var(--light-font);
  font-family: var(--font-family-two);
}
.horizontal__ruler {
  height: 1px;
  width: 98%;
  background-color: var(--ruler-bg);
}
.word__meaning {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.word__meaning > p,
.synonyms__title {
  font-size: 1.3rem;
  color: var(--light-gray);
  font-family: var(--font-family-one);
}
.word__meaning ul {
  margin-left: 2.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
ul li {
  font-size: 1.2rem;
  color: var(--light-font);
  line-height: 1.55;
}
ul li::marker {
  color: var(--list-color);
}
.synonyms {
  display: flex;
  gap: 1.7rem;
  margin: 1rem 0;
  align-items: first baseline;
}
.synonyms__content {
  color: var(--dark-purple);
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.5;
}
#verb__example {
  font-size: 1.15rem;
  color: var(--light-gray);
}
.intro__content,
.noword__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  gap: 1.5rem;
  text-align: center;
}
.noword__content {
  gap: 0.6rem;
  color: var(--light-font);
  height: 50vh;
}
.intro__title {
  font-size: 4.2rem;
  background-image: linear-gradient(
    90deg,
    rgb(124, 53, 175) 0%,
    rgba(143, 57, 204, 0.838) 8%,
    rgb(143, 49, 193) 16%,
    rgb(117, 37, 173) 33%,
    rgba(139, 38, 170, 0.748) 54%,
    rgb(98, 31, 157) 63%,
    rgb(120, 17, 189) 70%,
    rgb(118, 47, 159) 78%,
    rgb(109, 33, 151) 100%
  );
  background-clip: text;
  color: transparent;
}
.intro__body {
  font-size: 1.8rem;
  width: 40%;
  line-height: 1.6;
  color: var(--intro-font);
  font-weight: 600;
}
.noword__title {
  font-size: 2rem;
  color: rgb(174, 53, 53);
}
.noword__body {
  font-size: 1.3rem;
}
#noword__img {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .main__word {
    gap: 8px;
  }
  .word__meaning ul {
    margin-left: 12px;
  }
  .word__withphonetics h1 {
    font-size: 2.15rem;
  }
  ul li {
    font-size: 1.1rem;
  }
  .synonyms__title,
  .synonyms__content {
    font-size: 1.18rem;
  }
  .intro__content {
    height: 28vh;
  }
  .noword__content {
    height: 45vh;
  }
  .noword__title {
    font-size: 1.5rem;
    width: 80%;
  }
  .noword__body {
    font-size: 1.1rem;
    width: 80%;
  }
  .intro__title {
    font-size: 1.96rem;
  }
  .intro__body {
    font-size: 1.2rem;
    width: 96%;
  }
  img[alt="Audio-Player"] {
    width: 65%;
  }
  .audio__player:active {
    transform: scale(1.4);
  }
  img[alt="share-icon"] {
    width: 35px;
  }
  #noword__img {
    width: 80%;
  }
}
