* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
}
body {
  min-height: 100vh;
  width: 78%;
}
body[data-theme="dark"]{
    background-color: var(--light-bg);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #b2a6dfca;
}
::-webkit-scrollbar-thumb {
  background: #9974aa;
}

@media screen and (min-width: 768px) {
    body{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    body {
        width: 89%;
    }
    .word__meaning ul {
        margin-left: 0;

    }
}