@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
}
body {
  min-height: 100vh;
  width: 80%;
}
body[data-theme="dark"] {
  background-color: var(--light-bg);
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #b2a6dfca;
}
::-webkit-scrollbar-thumb {
  background: #9974aa;
}

@media screen and (max-width: 996px) {
  body {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 88%;
  }
  .word__meaning ul {
    margin-left: 0;
  }
}
