.header__element {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.4rem;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.nav__bar img {
  display: block;
}
#nav__line {
  background-color: var(--light-gray);
  width: 1px;
  height: 25px;
}
.font_toggle__items {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.toggle__theme {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
#font__type {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  background: transparent;
  overflow: hidden;
}
option, #font__type {
  color: var(--light-font);
  background-color: var(--light-bg);
  font-weight: 600;
}
#font__type:focus {
  outline: none;
}
.switch {
  position: relative;
  width: 50px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #717070;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #a445ed;
}
input:checked + .slider:before {
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.search__bar {
  background-color: var(--light-input);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: rgba(224, 230, 237, 0.016) 0px 8px 24px;
}
#search__input {
  outline: none;
  border: none;
  background: transparent;
  width: 80%;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--light-font);
}
.search__btn {
  border: none;
  background: transparent;
  cursor: pointer;
}
.no__result h2 {
  font-size: 4rem;
  color: rgb(210, 55, 55);
}
.no__result p {
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .font_toggle__items {
    gap: 1rem;
  }
  .toggle__theme {
    gap: 1rem;
  }
  .nav__bar {
    padding-top: 2.5rem;
  }
  .switch {
    position: relative;
    width: 46px;
    height: 24px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
  }
  .search__bar {
    padding: 1rem 1.2rem;
  }
  #search__input {
    font-size: 1.15rem;
  }
  #logo__icon {
    width: 9.6%;
  }
  #font__type {
    font-size: 0.9rem;
  }
  .no__result h2 {
    font-size: 2.5rem;
  }
  .no__result p {
    font-size: 1.1rem;
    width: 99%;
  }
}
