.header__element {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 2.4rem;
}
.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.nav__bar img {
  display: block;
}
#nav__line {
  background-color: var(--primary-gray);
  width: 1px;
  height: 25px;
}
#search__line{
  background-color: var(--common-gray);
  width: 0.5px;
  height: 23px;
}
.font_toggle__items {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.toggle__theme {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
#font__type {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-bg);
}
option, #font__type {
  color: var(--primary-font);
  font-weight: 600;
}
#font__type:focus {
  outline: none;
}
.switch {
  position: relative;
  width: 50px;
  height: 28px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bdbabae0;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #aa4fefbe;
}
input:checked + .slider:before {
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.search__bar {
  background-color: var(--primary-input);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 15px;
}
#search__input {
  width: 85%;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--primary-font);
}
.search__tool{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.search__btn, .mic__btn {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}
.search__btn:focus, .mic__btn:focus{
  outline: none;
}
img[alt="mic-icon"]{
  width: 29px;
}

@media screen and (max-width: 768px) {
  .font_toggle__items {
    gap: 1rem;
  }
  .toggle__theme {
    gap: 1rem;
  }
  .nav__bar {
    padding-top: 2.5rem;
  }
  .switch {
    position: relative;
    width: 46px;
    height: 24px;
  }
  .slider:before {
    height: 16px;
    width: 16px;
  }
  .search__bar {
    padding: 1rem 1.2rem;
  }
  .search__tool{
    gap: 10px;
  }
  #search__input {
    font-size: 1.1rem;
    width: 72.5%;
  }
  #logo__icon {
    width: 80%;
  }
  img[alt="mic-icon"]{
    width: 25px;
  }
  img[alt="Search-Icon"]{
    width: 18px;
  }
  #font__type {
    font-size: 0.9rem;
  }
}
